/*Start Bootstrap - Portfolio Item (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
  padding-top: 60px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
  margin-bottom: 25px;
}

/*IMAGENS QUE VAO PASSANDO*/

.img-responsive {
margin-bottom: 10px;
min-height: 300px;
background-color: silent;
text-align: center;
~font
}
.img-responsive2 {
margin-bottom: 10px;
height: 100px;
width: 100px;
background-color: silent;
text-align: center;
~font
}


.ci{
    min-height: 400px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 1500px;
    height: 410px;
}

/*BOTAO DE PESQUISA*/

#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-left: -30%;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

/*FIM DO BOTAO DE PESQUISA*/

/*bilhetes2d*/

.comprar{
    text-align: right;
}

#nomeE{
  margin-left: auto;
  margin-right: auto;
  width : 80%;

}
.lugares {
  width: 50%;
}

#lugares img {
  margin-left : 10%;
  width:30%;
  height: 30%
}

.correction{
    width: auto;
}

button{
  width : 20%;
  height :20%;
}

button #ver {
    width: 30%;
    height: 30%;
}
.btn-group{
  position : relative;
  display : inline-block;
  vertical-align : middle;
    text-align: center;
}

.btn-primary {
    color : rgba(24, 188, 156, 1)
    background-color: #1b2731;
    border-color: white;
    width: initial;
}

/*fim bilhetes 2d*/

/*lista lugares escolhidos */

.card #leftCard{
    border: black;
    border-style: inherit;
}


/*pagina do artista*/

.artistautil {
    width: 200px;
    height: 200px;
    background-color: silent;
    text-align: center;

    ~font
}

.scrolhor {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 215px;
}
.scrolhor2 {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 275px;
}

.list-inline {
  white-space:nowrap;
}

.faceutil{
    width: 100px;
    height: 100px;
}

.artutil{
    text-align: center;
}


/*imagem utilizador na nav bar*/
.profile-img {
    margin-top: 5%;
    margin-right: 20%;
    float: right;
    width: 50px;
}

.util{
    width: 35px;
    height: 35px;
}

.botaohamb{
    margin-top: -15%;
    margin-bottom: -20%;
    margin-left: -40%;
    padding: 15px;
}

.menuham{
    margin-left: 16%;
}

.opcao:hover{
    background-color:black;
}

.modal-title{
    float:left;
    color: #1b2731;
    font-size: 22px;
}

/*Seguidores e a seguir alertas*/
.seg{
    border-color: black;
    background-color: #1b2731;
    width: 200px;
}

.seg:hover{
    background-color:rgba(24, 188, 156, 1);
    border-color: #1b2731;
    color: #1b2731;
}

.close{
    font-size: 32px;
}

.modal-body{
    width: 100%;
    text-align: center;
}

.panel-info>.panel-heading{
    border-color: #1b2731;
    background-color: #1b2731;
    color: white;
}

.panel-info {
    border-color: #101010;
}

.panel-title{
    color: #fff;
}



.reglog{
    width: 100px;
    float: right;

}



/*musicas, espectaculos etc*/
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.pes{

}
/* fim musicas, espectaculos etc*/

#download{
    text-align:center;
    display:block;
}


.glyphicon.glyphicon-play{
    font-size: 50px;
}

.logo{
    width: 80px;
    height: 80px;
}

#logo{
    width: 80px;
    height: 80px;

}

section.successi {
  background: #337ab7;
  background-image: url("img/s.png");
  background-size: cover;
  color: white;
}

form{
    margin-bottom: 30px;
}


/*Botões cores - pagina artista (seguidores, terminar sessão) + drophamburguer */

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    color: white;
    background-color: #1b2731;
    border-color: rgba(24, 188, 156, 0.9);
}

.checkai.segg{
    width: 100%;
    height: 100%;
}

.checkai{
    width: 55px;
    height: 35px;
}

.checkai:hover{
    color: white;
    background-color: #1b2731;
    border-color: rgba(24, 188, 156, 0.9);
}

.checkai .badge{
    color: black;
    background-color: rgba(24, 188, 156, 0.9);
}

.modal-header{
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgba(24, 188, 156, 0.9);
    color: black;
}

.help-block{
    font-size: 12px;
}

.form-control:focus{
    border-color: rgba(24, 188, 156, 0.9);
}


.btn-group-lg > .btn, .btn-lg{
    border-radius: 150px;
}

#quemsomos{
    width: 200px;
    height: 200px;
}

.table{
    border-collapse: separate;
    border-spacing: 10px;
}

.pa{
    background-color:#1b2731;
    color: white;
}

.btn-default:hover{
    color: white;
    background-color: #1b2731;
    border-color: rgba(24, 188, 156, 0.9);
}

.btn-default1{
  width: 55px;
  height: 35px;
  background-color: #1b2731;
  border-color: #777;
  color: white;
}

.btn-default .badge{
    color: black;
    background-color: rgba(24, 188, 156, 0.9);
}
/*COMENTARIOS*/
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 15%;
	padding-right: 15%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}


